__pycache__
*.log
*.pot
*.pyc
db.sqlite3
media

*.bak

node_modules/
dist/
build/
_gh_pages/
webeditor/static/*.css
webeditor/static/*.js
webeditor/static/*.map
.DS_Store
yarn-error.log.DS_Store
/.idea