__pycache__
*.log
*.pot
*.pyc

*.bak

node_modules/
dist/
build/
_gh_pages/

static/CACHE/
static/*.css
static/*.js
static/*.map
media/uploaded_images/

.DS_Store
yarn-error.log.DS_Store
.idea
.vscode

webpeditor/.env
.vercel