__pycache__
*.log
*.pot
*.pyc

*.bak

node_modules/
dist/
build/
_gh_pages/

static/CACHE/

.DS_Store
yarn-error.log.DS_Store
.idea
.vscode

.env
.env.dev
.vercel
*.sqlite3

venv/
.venv/
docs/solid_audit.md
.pip-audit-cache
