default_install_hook_types:
  - pre-commit

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.12
  hooks:
    - id: uv-sync
      name: "synchronize pyproject.toml dependencies"
      args: [ "--locked", "--all-packages" ]
    - id: uv-lock
      name: "ensure uv.lock file is up-to-date"
    - id: uv-export
      name: "export requirements.txt"
      args: [ "--frozen", "--no-dev", "--no-hashes", "-o", "requirements.txt" ]
    - id: uv-export
      name: "export requirements-dev.txt"
      args: [ "--frozen", "--only-dev", "--no-hashes", "-o", "requirements-dev.txt" ]

- repo: https://github.com/pypa/pip-audit
  rev: v2.9.0
  hooks:
  - id: pip-audit
    name: "audit dependencies"
    args: ["--local", "--cache-dir", ".pip-audit"]
    verbose: true

ci:
  skip: [ pip-audit ]
