[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.5"
astroid = "==2.13.3"
autopep8 = "==2.0.1"
dill = "==0.3.6"
isort = "==5.12.0"
lazy-object-proxy = "==1.9.0"
tomlkit = "==0.11.6"
platformdirs = "==2.6.2"
pylint = "==2.15.10"
asgiref = "*"
django-appconf = "*"
django-compressor = "*"
djangorestframework = "*"
djongo = "*"
dnspython = "*"
mccabe = "*"
pillow = "*"
pip = "*"
pycodestyle = "*"
pytz = "*"
rcssmin = "*"
rjsmin = "*"
setuptools = "*"
sqlparse = "*"
toml = "*"
tomli = "*"
typing-extensions = "*"
wheel = "*"
wrapt = "*"
django-cors-headers = "*"
pymongo = "==3.12.1"
django-environ = "*"
django-extensions = "*"
requests = "*"
webob = "*"
localstoragepy = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.10"
