[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astroid = "==2.13.3"
autopep8 = "==2.0.2"
dill = "==0.3.6"
isort = "==5.12.0"
lazy-object-proxy = "==1.9.0"
tomlkit = "==0.11.6"
platformdirs = "==2.6.2"
asgiref = "*"
django-appconf = "*"
django-compressor = "*"
djangorestframework = "*"
djongo = "*"
dnspython = "*"
mccabe = "*"
pip = "*"
pycodestyle = "*"
pytz = "*"
rcssmin = "*"
rjsmin = "*"
setuptools = "*"
sqlparse = "*"
toml = "*"
tomli = "*"
typing-extensions = "*"
wheel = "*"
wrapt = "*"
django-cors-headers = "*"
pymongo = "==3.12.1"
django-environ = "*"
django-extensions = "*"
requests = "==2.29.0"
cython = "*"
ipython = "*"
python-jose = {extras = ["cryptography"], version = "*"}
djangorestframework-jwt = "==1.0.1"
django-imagekit = "*"
opencv-python = "*"
gunicorn = "*"
whitenoise = "*"
python-dotenv = "*"
cloudinary = "*"
raven = "*"
django = "==4.1.9"
redis = "==4.5.4"
py-spy = "*"
pillow = "*"
mongoengine = "*"
django-jsonfield = "*"
deptry = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
