{% extends 'webpeditor_app/_base.html' %}
{% load static %}

{% block content %}
    <div class="flex justify-center items-center absolute top-0 left-0 w-full h-full z-[1]">
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col justify-center items-center">
                <p class="font-bold text-4xl text-black dark:text-gray-400 mb-4"
                   style="font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace">
                    Temirkhan Amanzhanov
                </p>
                <a href="mailto:webpeditor@gmail.com"
                   class="contact-me-link glow-contact-me-link">
                    <svg fill="none"
                         stroke="currentColor"
                         stroke-width="1.5"
                         viewBox="0 0 24 24"
                         class="h-20 w-20"
                         xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path>
                    </svg>
                </a>
            </div>
        </div>
        {% include "webpeditor_app/bg-animation.html" %}
    </div>
{% endblock content %}
