{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="flex justify-center items-center absolute top-0 left-0 w-full h-full z-[1]">
        <div class="w-[90rem] h-[44rem] md:w-[75rem] md:h-[33rem] sm:w-[60rem] sm:h-[22rem] p-4 text-center overflow-y-scroll bg-white border border-gray-200 rounded-2xl shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-orange-400">WebP</span>
                Editor</h1>
            <div class="max-w-screen-xl mt-14 sm:mx-auto">
                <div class="grid grid-cols-1 gap-16 row-gap-8 lg:grid-cols-2">
                    <div class="space-y-8">
                        <div>
                            <p class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">
                                What this application is about?
                            </p>
                            <p class="text-gray-700 dark:text-gray-400">
                                This is a modern and ease to use web application to edit images in limited formats
                                and also allows to convert images in some specific formats. All in one place.
                            </p>
                        </div>
                        <div>
                            <p class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">
                                Is this application is free to use?
                            </p>
                            <p class="text-gray-700 dark:text-gray-400">
                                Yes, it is 100% free to use. No payments whatsoever.
                            </p>
                        </div>
                        <div>
                            <p class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">
                                What kind of information can I get from uploaded picture/image?
                            </p>
                            <p class="text-gray-700 dark:text-gray-400">
                                After uploading image, you will be able to see specification of the image on Info page.
                                Those infos are file name, file size, resolution, format, color mode, aspect ratio and even further
                                you will see an EXIF data of the image (if exists).
                            </p>
                        </div>
                    </div>
                    <div class="space-y-8">
                        <div>
                            <p class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">How many files can I upload?</p>
                            <p class="text-gray-700 dark:text-gray-400">
                                Maximum amount of files to be uploaded is 15 with specific restrictions. Individual file should have max.
                                6 MB and sum of all file size should not overflow 50 MB.
                            </p>
                        </div>
                        <div>
                            <p class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">
                                Can I change quality of the output image on convert?
                            </p>
                            <p class="text-gray-700 dark:text-gray-400">
                                Yes, you can do it. On Converter page under format input, you can choose between minimum and
                                maximum quality from 5 to 100 points. Depending on your choice, file size and quality will be
                                increased or decreased.
                            </p>
                        </div>
                        <div>
                            <p class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">
                                What is image editor is capable of?
                            </p>
                            <p class="text-gray-700 dark:text-gray-400">
                                WebP Editor can provide basic image editing with popular instruments such as cropper, rotation, resizing,
                                adding objects such as text, geometric shapes. Also, there is some filters that you can apply on the image.
                                For more information just <a href="/" class="font-semibold text-gray-900 underline dark:text-white decoration-indigo-500">upload</a> your first image.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bg-wrap" class="fixed z-[-1] w-full h-full top-0 left-0 opacity-40">
            <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
                <defs>
                    <radialGradient id="Gradient1" cx="50%" cy="50%" fx="0.441602%" fy="50%" r=".5">
                        <animate attributeName="fx" dur="34s" values="0%;3%;0%"
                                 repeatCount="indefinite"></animate>
                        <stop offset="0%" stop-color="rgba(255, 0, 255, 1)"></stop>
                        <stop offset="100%" stop-color="rgba(255, 0, 255, 0)"></stop>
                    </radialGradient>
                    <radialGradient id="Gradient2" cx="50%" cy="50%" fx="2.68147%" fy="50%" r=".5">
                        <animate attributeName="fx" dur="23.5s" values="0%;3%;0%"
                                 repeatCount="indefinite"></animate>
                        <stop offset="0%" stop-color="rgba(255, 255, 0, 1)"></stop>
                        <stop offset="100%" stop-color="rgba(255, 255, 0, 0)"></stop>
                    </radialGradient>
                    <radialGradient id="Gradient3" cx="50%" cy="50%" fx="0.836536%" fy="50%" r=".5">
                        <animate attributeName="fx" dur="21.5s" values="0%;3%;0%"
                                 repeatCount="indefinite"></animate>
                        <stop offset="0%" stop-color="rgba(0, 255, 255, 1)"></stop>
                        <stop offset="100%" stop-color="rgba(0, 255, 255, 0)"></stop>
                    </radialGradient>
                    <radialGradient id="Gradient4" cx="50%" cy="50%" fx="4.56417%" fy="50%" r=".5">
                        <animate attributeName="fx" dur="23s" values="0%;5%;0%"
                                 repeatCount="indefinite"></animate>
                        <stop offset="0%" stop-color="rgba(0, 255, 0, 1)"></stop>
                        <stop offset="100%" stop-color="rgba(0, 255, 0, 0)"></stop>
                    </radialGradient>
                    <radialGradient id="Gradient5" cx="50%" cy="50%" fx="2.65405%" fy="50%" r=".5">
                        <animate attributeName="fx" dur="24.5s" values="0%;5%;0%"
                                 repeatCount="indefinite"></animate>
                        <stop offset="0%" stop-color="rgba(0,0,255, 1)"></stop>
                        <stop offset="100%" stop-color="rgba(0,0,255, 0)"></stop>
                    </radialGradient>
                    <radialGradient id="Gradient6" cx="50%" cy="50%" fx="0.981338%" fy="50%" r=".5">
                        <animate attributeName="fx" dur="25.5s" values="0%;5%;0%"
                                 repeatCount="indefinite"></animate>
                        <stop offset="0%" stop-color="rgba(255,0,0, 1)"></stop>
                        <stop offset="100%" stop-color="rgba(255,0,0, 0)"></stop>
                    </radialGradient>
                </defs>
                <rect x="13.744%" y="1.18473%" width="100%" height="100%" fill="url(#Gradient1)"
                      transform="rotate(334.41 50 50)">
                    <animate attributeName="x" dur="20s" values="25%;0%;25%" repeatCount="indefinite"></animate>
                    <animate attributeName="y" dur="21s" values="0%;25%;0%" repeatCount="indefinite"></animate>
                    <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50"
                                      dur="7s"
                                      repeatCount="indefinite"></animateTransform>
                </rect>
                <rect x="-2.17916%" y="35.4267%" width="100%" height="100%" fill="url(#Gradient2)"
                      transform="rotate(255.072 50 50)">
                    <animate attributeName="x" dur="23s" values="-25%;0%;-25%"
                             repeatCount="indefinite"></animate>
                    <animate attributeName="y" dur="24s" values="0%;50%;0%" repeatCount="indefinite"></animate>
                    <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50"
                                      dur="12s"
                                      repeatCount="indefinite"></animateTransform>
                </rect>
                <rect x="9.00483%" y="14.5733%" width="100%" height="100%" fill="url(#Gradient3)"
                      transform="rotate(139.903 50 50)">
                    <animate attributeName="x" dur="25s" values="0%;25%;0%" repeatCount="indefinite"></animate>
                    <animate attributeName="y" dur="12s" values="0%;25%;0%" repeatCount="indefinite"></animate>
                    <animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50"
                                      dur="9s"
                                      repeatCount="indefinite"></animateTransform>
                </rect>
            </svg>
        </div>
    </div>
{% endblock content %}