{% extends '_base.html' %}
{% load static %}
{% block content %}
  <div class="flex flex-col justify-center items-center h-[calc(80vh)]">
        <span class="whitespace-nowrap flex justify-center font-extralight text-gray-900 dark:text-white"
              style="font-size: xxx-large; padding-top: 2rem">Welcome to&nbsp;<span
          class="font-semibold dark:text-white flex justify-center text-gray-900 dark:text-white"
          style="font-size: xxx-large">WebP Editor</span>!</span>
    <br />

    <p class="font-normal text-gray-500 dark:text-gray-400 text-center font text-gray-900 dark:text-white w-[60vw]">
      Web editor for editing images in <a href="https://developers.google.com/speed/webp"
                                          class="font-semibold text-gray-900 underline dark:text-white decoration-indigo-500">.WebP</a>
      format. Application allows to do basic manipulations with image such as cropping, resizing, rotating, moving
      and also some filters. You will be able to <span
      class="font-semibold text-gray-900 underline dark:text-white decoration-blue-500">convert</span> from
      .WebP format to some available image formats and vice versa.
    </p>

    <div class="flex justify-center pt-6">
      <div
        class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        {% if form.is_multipart %}
          <form method="post" enctype="multipart/form-data">
        {% else %}
          <form method="post">
        {% endif %}

        {% csrf_token %}
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="{{ form.auto_id }}">Upload
          your image:</label>

        <input
          class="block w-full text-lg text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          type="file" name="original_image_form" required accept=".jpeg,.jpg,.png,.webp,.raw,.jfif,.ico"
          id="{{ form.auto_id }}"
          size="image">
        {% if validation_error %}
          <p class="mt-1 text-xs font-thin text-red-600 dark:text-red-500">{{ validation_error }}</p>
        {% else %}
          <p class="mt-1 text-xs text-gray-500 dark:text-gray-300 font-light">Image size should be lower than
            6
            MB</p>
        {% endif %}
        <p class="mt-3 text-sm text-gray-500 dark:text-gray-300 font-light">Supports .WEBP, .JPEG, .JPG, .PNG,
          .RAW,
          .JFIF,
          .ICO</p>
        <br />

        <div class="flex flex-row justify-between">
          {% if original_image and image_is_exist %}
            <button onclick="location.href='/image_info'"
                    type="button"
                    class="mb-2 mr-4 text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
              Go to image
            </button>
          {% endif %}
          <button type="submit"
                  id="upload-image"
                  onclick="Toastify({
                    text: 'Image has been uploaded',
                    duration: 3000,
                    gravity: 'top',
                    close: true,
                    position: 'center',
                    stopOnFocus: true,
                    style: {
                      background: 'linear-gradient(to right, #e74694, #ff8a4c)',
                    },
                  }).showToast()"
                  class="relative inline-flex items-center justify-center p-0.5 mb-2 ml-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 cursor-not-allowed"
                  disabled>
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    Upload
                </span>
          </button>
        </div>
        </form>
      </div>
    </div>

    <script src="{% static 'js/services/enableUploadButtonService.js' %}"></script>
  </div>


{% endblock content %}
