{% extends '_base.html' %}
{% load static %}
{% block content %}
  <div class="flex justify-center items-center h-[calc(80vh)]">
    <main class="mx-auto">
      <div class="px-4 py-4 sm:px-0">
        {% if edited_image_form.is_multipart %}
          <form method="post" enctype="multipart/form-data">
        {% else %}
          <form method="post">
        {% endif %}

        {% csrf_token %}

        {{ edited_image_form.auto_id|json_script:'editedImageFormId' }}
        <input type="file" id="{{ edited_image_form.auto_id }}" name="image" style="display: none">


        <div class="grid grid-cols-9 gap-4">
          <div class="col-span-2 flex flex-col justify-center">
            <div
              class="max-w-sm p-4 bg-white border  border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Image
                properties:</h5>
              <p class="font-bold text-sm text-gray-700 dark:text-gray-200">Name: &nbsp;<span
                class="font-normal dark:text-gray-400 whitespace-pre-line"
                style="font-family: Consolas, monospace">{{ edited_image_name }}</span>
              </p>
              <p class="font-bold text-sm text-gray-700 dark:text-gray-200">Format: &nbsp;<span
                class="font-normal dark:text-gray-400 whitespace-pre-line"
                style="font-family: Consolas, monospace">{{ edited_image_format }}</span>
              </p>
              <p class="font-bold text-sm text-gray-700 dark:text-gray-200">Resolution: &nbsp;<span
                class="font-normal dark:text-gray-400 whitespace-pre-line"
                style="font-family: Consolas, monospace">{{ edited_image_resolution }}</span>
              </p>
              <p class="font-bold text-sm text-gray-700 dark:text-gray-200">Size: &nbsp;<span
                class="font-normal dark:text-gray-400 whitespace-pre-line"
                style="font-family: Consolas, monospace">{{ edited_image_size }}</span>
              </p>
              <p class="font-bold text-sm text-gray-700 dark:text-gray-200">Aspect ratio: &nbsp;<span
                class="font-normal dark:text-gray-400 whitespace-pre-line"
                style="font-family: Consolas, monospace">{{ edited_image_aspect_ratio }}</span>
              </p>
            </div>
          </div>


          <div class="col-span-7 flex items-center justify-center mr-[12rem]">
            {{ edited_image_url_to_fe|json_script:'imageUrl' }}
            {{ csrf_token_value|json_script:'csrfToken' }}
            <div id="tui-image-editor"></div>
          </div>

          <div class="col-span-1 flex flex-col justify-center items-center"></div>
        </div>
        </form>
      </div>
    </main>
  </div>

  <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
  <script src="https://uicdn.toast.com/tui-color-picker/v2.2.6/tui-color-picker.min.js"></script>
  <script src="https://uicdn.toast.com/tui-image-editor/v3.15.3/tui-image-editor.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  <script src="{% static 'js/services/saveImageIntoDb.js' %}"></script>
  <script src="{% static 'js/services/ToastUI.js' %}"></script>

{% endblock content %}
