{% extends '_base.html' %} {% load static %} {% block content %}
  <style>
    /* Custom styles */

    .info {
      background-color: #eee;
      padding: 20px;
    }

    .info p {
      margin-bottom: 5px;
    }

    .info hr {
      margin: 10px 0;
    }

    .info h2 {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
    }
  </style>

  <div class="flex justify-center items-center h-[calc(80vh)]">
    <main class="mx-auto">
      <div class="px-4 sm:px-0">
        <div class="grid grid-cols-9 gap-4">
          <div class="col-span-1 flex flex-col justify-center items-center"></div>
          <div class="col-span-6 flex items-center justify-center">
            <p class="hidden">{{ edited_image_url_to_fe|json_script:'imageUrlId' }}</p>
            <div id="tui-image-editor"></div>
          </div>

          <div class="col-span-2 flex flex-col justify-center">
            <div class="flex flex-col justify-center pr-[3rem]">
              <div
                class="p-5 bg-white max-w-screen-md border max-w-6xl border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="contents">
                  <div
                    class="text-left flex flex-col justify-center overscroll-contain md:h-[calc(50vh)]">

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Image
                      properties:</h5>
                    <p class="font-bold text-gray-700 dark:text-gray-200">Name: &nbsp;<span
                      class="font-normal dark:text-gray-400"
                      style="font-family: Consolas, monospace">{{ edited_image_name }}</span>
                    </p>
                    <p class="font-bold text-gray-700 dark:text-gray-200">Format: &nbsp;<span
                      class="font-normal dark:text-gray-400"
                      style="font-family: Consolas, monospace">{{ edited_image_format }}</span>
                    </p>
                    <p class="font-bold text-gray-700 dark:text-gray-200">Resolution: &nbsp;<span
                      class="font-normal dark:text-gray-400"
                      style="font-family: Consolas, monospace">{{ edited_image_resolution }}</span>
                    </p>
                    <p class="font-bold text-gray-700 dark:text-gray-200">Size: &nbsp;<span
                      class="font-normal dark:text-gray-400"
                      style="font-family: Consolas, monospace">{{ edited_image_size }}</span>
                    </p>
                    <p class="mb-4 font-bold text-gray-700 dark:text-gray-200">Aspect ratio: &nbsp;<span
                      class="font-normal dark:text-gray-400"
                      style="font-family: Consolas, monospace">{{ edited_image_aspect_ratio }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
  <script src="https://uicdn.toast.com/tui-color-picker/v2.2.6/tui-color-picker.min.js"></script>
  <script src="https://uicdn.toast.com/tui-image-editor/v3.15.3/tui-image-editor.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  <script src="../static/js/services/ToastUI.js"></script>
{% endblock content %}
