<!-- templates/index.html -->
{% extends '_base.html' %}
{% block content %}

  <div class="flex justify-center">

    <div
      class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      {% if form.is_multipart %}
        <form method="post" enctype="multipart/form-data">
      {% else %}
        <form method="post">
      {% endif %}

      {% csrf_token %}
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="id_image">Large file
        input</label>

      <input
        class="block w-full text-lg text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        type="file" name="image" required accept="image/*" id="id_image">

      <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX.
        800x400px).</p>

      <button
        type="submit"
        class="mr-2 mb-2 inline-flex items-center rounded-lg bg-[#24292F] px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-[#24292F]/90 focus:outline-none focus:ring-4 focus:ring-[#24292F]/50 dark:hover:bg-[#050708]/30 dark:focus:ring-gray-500"
      >
        Upload
      </button>
      </form>
    </div>
  </div>

{% endblock content %}
